.add-prod{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: auto;
}
input ,select ,textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:  0 0 10px 0;
    transition: all 0.3s ease;
}
option {
    padding: 10px;
    
}

textarea:focus{
    border-color: #4CAF50;
    outline: none;
    box-shadow: #4CAF50 0px 0px 5px;
}
select:focus{
    border-color: #4CAF50;
    outline: none;
    box-shadow: #4CAF50 0px 0px 5px;
}
input:focus{
    border-color: #4CAF50;
    outline: none;
    box-shadow: #4CAF50 0px 0px 5px;
}
input:hover{
    background-color: #f1f1f1;
}
input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button{
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: #4CAF50 1px solid;
    border-radius: 5px;
    transition:  0.3s ease;
    width: fit-content;
}
button:hover{
    background-color: #4CAF50;  
    color: white;
    
}
.products{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
    align-self: start;
    margin-top: 10px;
}
.product{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    width: 17%;
    box-shadow: 0px 0px 7px rgba(134, 130, 130, 0.5);
}
.products img{
    margin: auto;
    width: 100%;
    border-radius: 5px; 
}
#delete-btn{
    background-color: #f44336;
    color: white;
    width: 100%;
    margin: 20px auto;
}
#delete-btn:hover{
    color: black;
    background-color: #fcb7b2;
    
}

.update-btn{
    background-color: #2196F3;
    color: white;
    width: 100%;
    margin: 0px auto 20px;
}
#update-btn:hover{
    color: black;
    background-color: #88bde9;
}
.d-none{
    display: none;
}
.search{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}